
  <div>
    <p>THE TECHY BLOG</p>
  </div>
  <div id="post-list">
    {{#if posts}}
      {{#each posts as |post|}}
        <div>
          <p>User: {{username}}</p>
          <div id="text-container">
          <P>{{text}}</P>
          </div>
        </div>
      {{/each}}
      {{else}}
      <div>
        <p>No one has posted yet :(</p>
      </div>
      {{/if}}
  </div>


